@use "../../_base.scss";

.dark-msg-bg{
  @include base.default-overlay-wrapper;
}

/* Card Countiner */
.msg-card {
  @include base.default-overlay;
  @extend %cardSize;
  background: base.$yellow-bgr;
  border: 5px solid base.$light-yellow-bgr;
  border-radius: 15px;
  align-items: center
}

/* Ordernumber and Date */
.msg-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 22rem;
}

.msg-text {
  margin-top: 3rem;
  margin-bottom: 4rem;
}