@use '../../_base.scss';

.feedback {
  margin: 0;
  opacity: 0;
  height: 0em;
  transition: 0.5s;
}
.displayFeedback {
  opacity: 1;
  height: 2em;
}

.overlay {
  @include base.default-overlay-wrapper;
  
  .loginSignup {
    @extend %cardSize;
    @include base.default-overlay;
    position: relative;
    
    .closeButton {
      @include base.close-button;
    }
  }
}

