@use "../../_base.scss";

.dark-bg {
  @include base.default-overlay-wrapper;
}

/* Popup Countiner */
.edit-popup {
  @extend %cardSize;
  @include base.default-overlay;
  background: base.$yellow-bgr;
  border: 5px solid base.$light-yellow-bgr;
  padding: 1rem;
  gap: 1em;
  margin: 2rem;
  position: relative;
}

.user-close-btn {
  @include base.close-button;

}
.cart-title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/* Order Details, Dishes and Prices */
.edit-card-info {
  display: flex;
  flex-direction: column;

  .edit-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .edit-details {
      display: flex;
      width: 70%;
      justify-content: space-between;

      .card-text {
        font-size: 20px;
      }
    }
  }
}

/* Total price, Place an order btn, Comment field*/
.edit-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Total cost*/
  .card-cost {
    padding-bottom: 2em;
    font-size: 24px;
    margin-top: 2rem;
    // align-self: flex-end;
  }

  /* User comment*/
  .cart-comment {
    text-align: start;
    width: 80%;
    height: 5rem;
    background: base.$white;
    border: 1px solid base.$black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .feedback {
    opacity: 0;
    transition: 0.5s;
  }
  .displayFeedback {
    opacity: 1;
  }

  /* Order btn*/
  .popup-btn-save {
    margin-top: 1rem;
  }
}
