@use "../../_base.scss";

.dark-bg {
  @include base.default-overlay-wrapper;
}


.edit-popup {
  @extend %cardSize;
  @include base.default-overlay;
  background: base.$yellow-bgr;
  border: 5px solid base.$light-yellow-bgr;
  padding: 1rem;
  position: relative;
}

.user-close-btn {
  @include base.close-button;
}

.cart-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.edit-card-info {
  display: flex;
  flex-direction: column;
  @extend %edit-order-item;
}


.edit-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .card-cost {
    padding-bottom: 1em;
    font-size: 24px;
  }

  
  .cart-comment {
    text-align: start;
    width: 80%;
    height: 5rem;
    background: base.$white;
    border: 1px solid base.$black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .feedback {
    opacity: 0;
    height: 0em;
    transition: 0.5s;
  }
  .displayFeedback {
    opacity: 1;
    height: 1em;
  }

  
  .popup-btn-save {
    margin-top: 1rem;
  }
}
