@use '../base';

.landingPage {
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 15% 0;
  }
}
.buttonGuest {
  @include base.button($bgr: base.$white, $txt: base.$black, $padding: 0.3rem 1.5rem);
}
.buttonMember {
  @include base.button($bgr: base.$black, $txt: base.$white, $padding: 0.3rem 1.5rem);
  opacity: 0.9;
}

.loginSignup {
  padding: 3em;
  border: 5px solid base.$light-yellow-bgr;
  border-radius: 15px;
  background-color: base.$yellow-bgr;

  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  button {
    @include base.button($bgr: base.$black, $txt: base.$white);
  }
  input {
    border-radius: 3px;
    border: 1px solid base.$black;
  }
}