@use '../base';

.admin-order-item {
    @extend %cardSize;
}

.admin-order-card{
    background-color:  #FFE99F ;
    padding: 15px;
    border-radius: 15px;
    border: 5px solid #333333; // vit eller svart border?
    margin-top: 1rem;
    .card-upper-section{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        
        .ordered{
            width: 20px;
            height: 20px;
            background-color: #cc3232;
            border-radius: 50%;
        }
        .started{
            width: 20px;
            height: 20px;
            background-color: #db7b2b;
            border-radius: 50%;
        }
        .finished{
            width: 20px;
            height: 20px;
            background-color: #2dc937;
            border-radius: 50%;
        }
        .status-text{
            margin-right: 70px;
        }
    }
    .order-date{
        display: flex;
        justify-content: right;
    }
    .card-info{
        display: flex;
        flex-direction: column;
        
        .card-order{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .card-text{
                font-size: 16px;
            }
        }
        
        
    }
    .admin-card-total-price{
        display: flex;
        justify-content: flex-end;
        
    }
    .orderComment {
        background-color: white;
        min-height: 2em;
        border-radius: 5px;
        border: 1px solid base.$black;
        margin: 5px 0;
        padding: 3px;
    }
    .card-buttons{
        display: flex;
        justify-content: center;
        margin: 15px 0;
        
        button {
            margin: 0 5px;
            @include base.button ($bgr: base.$black, $txt: base.$white)
        }
    }
}