.cart-title {
  display: flex;
  justify-content: center;
}

.card-dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .delete-dish-btn {
    background-color: #cf4242;
    color: white;
  }

}
