@use '../base';

.menuItemWrapper {
    @extend %cardSizeWide;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: base.$yellow-bgr;
    padding: 1.5em;
    border-radius: 15px;
    border: 5px solid base.$black;
    
    .menuItem-title-container {
        display: flex;
        justify-content: space-between;

        h2 {
            margin-top: -0.5em;
            margin-bottom: -0.5em;
        }
    }

    .menuItem-buttons-container {
        display: flex;
        justify-content: space-between;

        .menuItem-btn-info {
            background-color: base.$yellow-bgr;
        }
    }
}

