@use '../../base';

@mixin cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333333;
    padding: 1rem;
    margin: 1rem;
    max-height: 522px;
    max-width: 275px;
    border-radius: 15px;
    color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-card {
   @include cards;
   border: solid 5px #FFF2C7; 
}

.employees-card {
    @include cards;
    border: solid 5px #FC8845;
}

.contact-card {
    @include cards;
    border: solid 5px #CF4242;
}

.about-headline {
    display: flex;
    flex-direction: center;
    padding-top: 2rem;
}

.info-h3 {
    padding: 2rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 1);
}