
.order-title {
  display: flex;
  flex-direction: column;
  align-items: center;


  .user-orders-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}


