/* My orders top logo */
.order-title {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // gap: 2em;

  .user-orders-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}


