@use './base';

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Marcellus&display=swap');
/* font-family: 'Berkshire Swash', cursive; */
/* font-family: 'Marcellus', serif; */

#root {
  width: 100vw;
  min-height: 100vh;
  // padding: 2rem;
  // text-align: center;
  background-color: base.$light-yellow-bgr;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: 'Marcellus', serif;
  font-size: 16px;
  letter-spacing: 8%;
  line-height: 150%;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

button {
  @include base.button;
}